<div class="payment-badges">
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svgs/amex.svg" alt="Amex">
    </div>
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svgs/mastercard.svg" alt="MasterCard">
    </div>
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svgs/visa.svg" alt="Visa">
    </div>
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svgs/discover.svg" alt="Discover">
    </div>
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svgs/paypal.svg" alt="PayPal">
    </div>
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svgs/apple-pay.svg" alt="Apple Pay">
    </div>
</div>