<div class="payment-badges">
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svg/amex.svg" alt="Amex">
    </div>
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svg/mastercard.svg" alt="MasterCard">
    </div>
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svg/visa.svg" alt="Visa">
    </div>
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svg/discover.svg" alt="Discover">
    </div>
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svg/paypal.svg" alt="PayPal">
    </div>
    <div class="payment-badge">
        <img src="https://cdn.redmarkdeals.com/svg/apple-pay.svg" alt="Apple Pay">
    </div>
</div>