<div class="secure-badges">
    <div class="secure-badge">
        <img src="..." alt="TrustedSite certified secure checkout">
    </div>
    <div class="secure-badge">
        <img src="..." alt="McAfee certifed secure">
    </div>
</div>