
{% form 'storefront_password' %}
{{ form.errors | default_errors }}
<label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
<div class="input-group password__input-group">
  <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
  <span class="input-group__btn">
    <button type="submit" name="commit" class="btn btn--narrow">
      {{ 'general.password_page.login_form_submit' | t }}
    </button>
  </span>
</div>
{% endform %}
