.psrelated {
    display: block!important;
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}
.ps-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1
}
.ps-carousel .ps-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    transition: all 0.45s ease 0s
}
.ps-carousel .ps-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.ps-carousel .ps-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px)
}
.ps-carousel .ps-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    margin: 8px 15px;
}
.ps-carousel .ps-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d
}
.ps-carousel .ps-nav .ps-prev,
.ps-carousel .ps-nav .ps-next {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.ps-carousel.ps-loaded {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ps-carousel.ps-loading {
    opacity: 0;
    display: block
}
.ps-carousel.ps-hidden {
    opacity: 0
}
.ps-carousel.ps-refresh .ps-item {
    display: none
}
.ps-carousel.ps-drag .ps-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.ps-carousel.ps-grab {
    cursor: move;
    cursor: grab
}
.ps-carousel.ps-rtl {
    direction: rtl
}
.ps-carousel.ps-rtl .ps-item {
    float: right
}
.no-js .ps-carousel {
    display: block
}
.ps-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.ps-carousel .ps-animated-in {
    z-index: 0
}
.ps-carousel .ps-animated-out {
    z-index: 1
}
.ps-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.ps-height {
    transition: height 500ms ease-in-out
}
.ps-carousel .ps-item .ps-lazy {
    opacity: 0;
    transition: opacity 400ms ease
}
.ps-carousel .ps-item img.ps-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.ps-carousel .ps-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}
.ps-carousel .ps-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(ps.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: -webkit-transform 100ms ease;
    transition: transform 100ms ease
}
.ps-carousel .ps-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}
.ps-carousel .ps-video-playing .ps-video-tn,
.ps-carousel .ps-video-playing .ps-video-play-icon {
    display: none
}
.ps-carousel .ps-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease
}
.ps-carousel .ps-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}
.ps-carousel .ps-nav [class*='ps-'] {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4)
}
.ps-carousel .ps-nav [class*='ps-']:hover {
    background-color: #000;
    color: #fff;
}
.ps-carousel .ps-nav [class*='ps-'] i::before {
    margin: 0
}
.ps-carousel {
    position: relative
}
.ps-carousel .ps-next,
.ps-carousel .ps-prev {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    top: 30%;
    font-size: 26px;
    color: #000;
    text-align: center
}
.ps-product-img {
    float: left;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    transition: 0.4s
}
.ps-product-img:hover {
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.4);
}
.ps-product-title {
    font-size: 0.8125em;
    font-weight: bold;
}